Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/

Visual Studio / MonoDevelop
*.unityproj
*.user
*.userprefs
*.csproj
*.unityhost
*.suo

# Firebase native plugins
Assets/Firebase/Plugins/x86_64/
Assets/Firebase/Plugins/x86/